.catalogo-header {
  background: #1F3A44; /* Azul marca */
  color: #fff;

  padding: 12px 22px;

  display: flex;
  align-items: center;
    border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
    border-bottom: 2px solid #C6A75E;
  box-shadow: 0 2px 10px rgba(0,0,0,.35);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-text h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.header-text span {
  font-size: 16px;
  font-weight: bold;
  color: #C6A75E; /* dourado */
}



.catalogo-grid {
  padding: 16px;
  display: grid;
  gap: 16px;

  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
}

/* Tablet */
@media (min-width: 640px) {
  .catalogo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Notebook */
@media (min-width: 1024px) {
  .catalogo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Full HD */
@media (min-width: 1600px) {
  .catalogo-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Ultrawide */
@media (min-width: 1800px) {
  .catalogo-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 640px) {

  .catalogo-header {
    justify-content: center;
    text-align: center;
  }

  .header-left {
    flex-direction: column;
  }

  .logo {
    height: 48px;
  }
}
