.card-tecido {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform .15s ease;
}

.card-tecido:hover {
  box-shadow: 0 6px 18px rgba(31,58,68,.25);
}

.card-tecido:active {
  transform: scale(.97);
}

.card-img {
  width: 100%;
  height: 220px;   /* Desktop maior */
  overflow: hidden;
}

/* Mobile mantém menor */
@media (max-width: 640px) {
  .card-img {
    height: 180px;
  }
}

@media (min-width: 1400px) {
  .card-img {
    height: 260px;
  }
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease;
}

/* Hover zoom só desktop */
@media (hover:hover) {
  .card-tecido:hover img {
    transform: scale(1.08);
  }
}

.card-info {
  padding: 12px;
}

.card-info h2 {
  font-size: 16px;
  margin: 0;
  color: rgb(102, 102, 102);
  font-weight: bold;
}

.card-info p {
  font-size: 13px;
  color: #666;
  margin: 4px 0 0;
}
